.loading-state{
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg-loader{
    width: 5rem;
    height: 5rem;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    100%{
        rotate: 360deg;
    }
}
.circle-loader{
    fill: none;
    stroke: var(--primary-color);
    /* stroke: var(--white); */
    stroke-width: .3rem;
    stroke-linecap: round;
    animation: dash 2.5s ease-in-out infinite;
}
@keyframes dash {
    0%{
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100%{
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}