.button-disabled{
    cursor: not-allowed;
}
.button-wrapper{
    width: fit-content;
}
/* -----------------cart----------- */
.wide-cart-button-click{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    border-radius: .3rem;
    background: var(--primary-color);
    color: var(--white);
    letter-spacing: .1rem;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    transition: var(--transition);
    width: 100%;
}
.wide-cart-button-click:hover{
    background: transparent;
    color: var(--primary-color);
}
/* -----------------cart----------- */
.button-click-wrap{
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: .3rem;
    background: var(--primary-color);
    color: var(--white);
    letter-spacing: .1rem;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    transition: var(--transition);
}
.button-click-wrap:hover,
.button-click-wrap:hover .button-click-wrap-link{
    background: transparent;
    color: var(--primary-color);
}
.button-click-wrap .button-click-wrap-link{
    color: var(--white);
}
/* ----------------------------------------------------------- */
.transparent-button-click-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    gap: .3rem;
    border-radius: .3rem;
    color: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, .05);
    transition: var(--transition);
}
.transparent-button-click-wrap:hover{
    border: 1px solid rgba(0, 0, 0, .05);
    background-color: rgba(0, 0, 0, .09);
}
/* ----------------------------------------------------------- */
.link-wrapper{
    cursor: pointer;
    border-radius: .3rem;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    padding: .5rem 1.5rem;
    color: var(--white);
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}
.link-wrapper:hover{
    background-color: var(--white);
    color: var(--primary-color);
}
/* --------------------------------------------------------------- */

/* --------------------------------------------------------------- */
.transparent-link-wrapper{
    cursor: pointer;
    border-radius: .3rem;
    border: 1px solid var(--primary-color);
    background: var(--white);
    padding: .5rem 1.5rem;
    color: var(--primary-color);
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}
.transparent-link-wrapper:hover{
    background-color: var(--primary-color);
    color: var(--white);
}
/* --------------------------------------------------------------- */
.button-login-submit{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    color: var(--white);
    background-color: var(--primary-color);
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: .3rem;
    transition: var(--transition);
    cursor: pointer;
}
/* submitted */
.button-login-submitted{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    width: 100%;
    color: var(--primary-color);
    font-size: 1.3rem;
    padding: .8rem;
    border-radius: .3rem;
    border: 1px solid var(--primary-color);
}
.button-login-submitted .svg-loader{
    width: 2rem;
    height: 2rem;
}

.buttonDisabledClass{
    opacity: .4;
    cursor: default;
}
.buttonEnabledClass{
    opacity: 1;
    cursor: pointer;
}

/* ----------------------------------------------------------- */
.delete-button-click-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    gap: .3rem;
    border-radius: .3rem;
    color: var(--error);
    border: 1px solid rgba(0, 0, 0, .05);
    transition: var(--transition);
}
.delete-button-click-wrap:hover{
    border: 1px solid rgba(0, 0, 0, .05);
    background-color: rgba(0, 0, 0, .09);
}
/* ----------------------------------------------------------- */

/* media queries */
@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 992px){
    
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 430px){
    .button-wrapper{
        width: 100%;
    }
    .button-link-wrapper .button-link{
        width: 100%;
    }
}

@media screen and (max-width: 320px){
    
}