.store-post-wrapper{
    position: relative;
}
.store-post-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--white);
    padding: 2rem 1rem;
    margin-bottom: .2rem;
    border-radius: .3rem;
}
#dark .store-post-header{
    background-color: var(--dark);
}
.store-post-header-left{
    position: relative;
}
.store-post-header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}
.store-post-body{
    background-color: var(--white);
    padding: 2rem;
    border-radius: .3rem;
}
#dark .store-post-body{
    background-color: var(--dark);
}
.store-post-body-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 2rem;
}
#dark .store-post-body-head{
    border-bottom: 1px solid var(--faded-white);
}
.store-post-create-new-store{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.store-post-body-posts{
    margin: 2rem 0;
}
.store-post-body-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .store-post-body-title h2{
    font-size: 1.3rem;
} */
.store-post-body-view-patient{
    font-size: 1.3rem;
    color: var(--primary-color);
}
.store-post-body-title-icons-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.store-post-body-title-icons{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.store-post-body-title-icons svg{
    padding: .2rem;
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--light-grey);
    border-radius: .3rem;
}
#dark .store-post-body-title-icons svg{
    color: var(--dark-grey);
}
.edit-store-menu-wrapper{
    width: 100%;
    position: absolute;
    top: 3rem;
    left: 0;
    z-index: 1;
}
.edit-store-menu-option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
    padding: .3rem;
    gap: .1rem;
    min-height: 5rem;
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: var(--white);
    scale: 0;
    translate: 0 50%;
    transform-origin: 50% -50%;
    opacity: 0;
    visibility: hidden;
    transition: 0.375s;
}
.edit-store-menu-option::before{
    content: "";
    position: absolute;
    background-color: inherit;
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-right: 1px solid rgba(0, 0, 0, .2);
    top: -.6rem;
    border-radius: .2rem;
    right: 35%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    rotate: -45deg;
}
.edit-store-menu-option.active{
    scale: 1;
    translate: 0;
    opacity: 1;
    visibility: visible;
}
.edit-store-menu-detail{
    padding: .5rem;
    white-space: nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 1rem;
    transition: var(--transition);
}
.edit-store-menu-detail:last-child{
    border-bottom: 0;
}
.edit-store-menu-detail:hover{
    color: var(--primary-color);
}
.store-post-body-details{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 1.5rem 0;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--light-grey);
}
#dark .store-post-body-details{
    border-bottom: 1px solid var(--faded-white);
}
.store-post-body-image-wrapper{
    position: relative;
    max-width: 8rem;
    width: 100%;
    height: 8rem;
    padding: .3rem;
    border: 1px solid var(--light-grey);
    border-radius: .3rem;
}
#dark .store-post-body-image-wrapper{
    border: 1px solid var(--faded-white);
}
.store-post-body-image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .3rem;
}
.post-body-image-wrapper-count{
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    padding: .3rem;
    background-color: var(--light-grey);
    color: var(--black);
    border-radius: .3rem;
    font-size: 1rem;
    font-weight: 500;
}
.store-post-body-detail{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.store-post-body-detail span{
    color: var(--black);
    font-size: 1.3rem;
    font-weight: 600;
}
.store-post-body-detail small{
    font-size: 1.1rem;
}


/* media queries */
@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 992px){
    
}

@media screen and (max-width: 768px){
    .store-post-line{
        background-color: unset;
    }
}

@media screen and (max-width: 520px){
    .store-post-header{
        justify-content: center;
        align-items: initial;
        flex-direction: column;
    }
}

@media screen and (max-width: 430px){
    
}

@media screen and (max-width: 320px){
    
}