.forgot-password-wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.forgot-password-form-container{
    margin-top: 10rem;
    width: 100%;
    background-color: var(--white);
    max-width: 40rem;
    padding: 2rem;
    border-radius: .3rem;
}
.forgot-password-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
}
.forgot-password-svg-wrapper{
    width: 5rem;
    height: 5rem;
    color: var(--primary-color);
    background: var(--faded-black);
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.forgot-password-svg-wrapper svg{
    width: 100%;
    height: 100%;
}
.forgot-password-detail h3{
    font-size: 2rem;
}
.forgot-password-detail span{
    font-size: 1.2rem;
    text-align: center;
}
.forgot-password-have-account-wrapper{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: .2rem;
    margin: 1rem 0;
}
.forgot-password-account-reg-log{
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: .2rem;
}

/* media queries */
@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 992px){
    
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 430px){
    
}

@media screen and (max-width: 320px){
    
}