.search-posts-main-content{
    flex-basis: 73%;
}
.search-posts-side-content{
    position: sticky;
    top: 8rem;
    flex-basis: 25%;
    align-self: flex-start;
}

/* media queries */
@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 992px){
    .search-posts-main-content,
    .search-posts-side-content{
        flex-basis: 100%;
    }
    .search-posts-side-content{
        position: relative;
        top: unset;
    }
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 430px){
    
}

@media screen and (max-width: 320px){
    
}