/* features section */
.features-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 6%;
    gap: 1.5rem;
    margin-bottom: 3rem;
    background: var(--white);
}
.features-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.features-header h3{
    color: var(--primary-color);
    font-size: 2rem;
    padding: 1rem .5rem;
    border-radius: .3rem;
    text-align: center;
}
.features-header-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.features-header-list h4{
    color: var(--black);
    font-size: var(--font-xl);
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    position: relative;
}
.features-header-list h4::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: .1rem;
    margin-top: 1.8rem;
    background: var(--primary-color);
}
.features-header-list span{
    font-size: var(--font-sm);
}
.features-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.features-grid-box{
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.04);
    border-radius: .4rem;
    padding: 2rem;
    gap: 1rem;
}
.features-grid-icon{
    padding: 1.5rem;
    background: var(--white);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .4rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-grid-icon svg{
    color: var(--primary-color);
    font-size: 2rem;
}
.features-grid-box h3{
    color: var(--black);
    font-size: var(--font-md);
}
.features-grid-box span{
    font-size: var(--font-sm);
}
/* features section XX */

/* media queries */
@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 992px){
    
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 430px){
    
}

@media screen and (max-width: 320px){
    
}