@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
    --font-family: 'Poppins', sans-serif;
	--body-background-color: #f0f2f5;
    --body-color: #5f5f5f;
	--card-color: #f1ece5;
	--white: #fff;
    --light-grey: #dedede;
    --dark-grey: #a1a1a0;
	--black: #282c34;
	--dark: #131517;
    --whine: #a52a2a;
    --faded-whine: #e4bfbf;
    --red: #f00;
    --gold: #f9ca3f;
	--error: #b13950;
	--online: #41db51;
    --green: #16BF78;
	--primary-color: #045be6;
    --light-primary-color: #ebf2ff;
    --primary: #16c5ff;
    --font-sm: 1.2rem;
    --font-md: 1.4rem;
    --font-lg: 1.8rem;
    --font-xl: 2.5rem;
    --padding-sm: 1.2rem;
    --padding-md: 1.5rem;
    --padding-lg: 2rem;
    --margin-sm: 1.2rem;
    --margin-md: 1.5rem;
    --margin-lg: 2rem;
    --margin-Xg: 5rem;
    --faded-black: rgba(0, 0, 0, .05);
    --faded-white: rgba(255, 255, 255, .05);
    --transition: all 0.3s ease-in-out;
	--card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.4);
	--box-shadow: 0px 5px 10px  rgba(0, 0, 0, 0.1);
    --gradient-black: linear-gradient(
        144.39deg,
        #ffffff -278.56%,
        #6d6d6d -78.47%,
        #11101d 91.61%
    );
    --gradient-primary: radial-gradient(
        64.18% 64.18% at 71.16% 35.69%,
        #def9fa -278.56%,
        #16c5ff -78.47%,
        #045be6 91.61%
      );

      /* for cart */
      /* --primary: #275EFE;
      --primary-light: #7699FF;
      --dark: #1C212E;
      --grey-dark: #3F4656;
      --grey: #6c7486;
      --grey-light: #CD09ED;
      --white: #FFF;
      --green: #16BF78;
      --sand: #DCB773;
      --sand-light: #ED09A9; */
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
/*	font-size: 10px; same as 62.5% and makes scaling much better*/
    font-size: 75.5%;
    overflow-x: hidden;
}
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--body-background-color);
    color: var(--body-color);
}
body #light {
    background: var(--body-background-color);
    transition: 1s ease;
}
body #dark {
    background: var(--black);
    transition: 1s ease;
}
a{
    text-decoration: none;
    outline: none;
    color: var(--body-color);
}
a:hover{
    text-decoration: none;
}
form{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
img{
    display: block;
    max-width: 100%;
}
button,
input{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
svg{
    cursor: pointer;
}
input[type=date]:required:invalid::-webkit-datetime-edit,
input[type=datetime-local]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit,
input[type=datetime-local]:focus::-webkit-datetime-edit {
    color: black !important;
}
.main-container{
    min-height: 100vh;
}
.container{
    margin: 0 auto;
    padding: 2rem 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100vh;
}
.contain{
    max-width: 95vw;
    margin: 0 auto;
    padding: 2rem 6%;
}
h1, h2, h3, h4, h5{
    margin-top: 0;
    line-height: 1.3;
}
.form-error{
    color: red;
}
.error-msg{
	color: var(--red);
    text-align: center;
    margin-top: 1rem;
}
.success-msg{
	color: var(--share);
}
.toast-option{
    background-color: var(--primary-color) !important;
    color: var(--white) !important;
}

@media screen and (max-width: 992px){
    .container{
        padding: 1.5rem 3%;
    }
    /* .contain{
        max-width: 95vw;
        margin: 0 auto;
        padding: 2rem 6%;
    } */
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 430px){
    
}

@media screen and (max-width: 320px){
    
}