.modal-container{
    position: fixed;
    width: 100%;
    inset: 0;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 90vh;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out;
    z-index: 10;
}
.modal-container.active{
    opacity: 1;
    visibility: visible;
}
.modal-account-container{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    padding: 2rem 1rem;
    background: var(--white);
    border-radius: .4rem;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
    transition: all .4s ease-out;
    z-index: 3;
}
.modal-container.active .modal-account-container{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}
.account-modal-login-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding: 1rem 1.5rem;
}

/* media queries */
@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 992px){
    
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 520px){
    
}

@media screen and (max-width: 430px){
    
}

@media screen and (max-width: 320px){
    
}